<script lang="ts" setup></script>

<template>
  <header>
    <div class="navbar bg-base-100">
      <div class="navbar-start"></div>
      <div class="navbar-center">
        <RouterLink class="btn btn-ghost" :to="{ name: 'home' }">
          <h1 class="text-xl font-bold">Just Host</h1>
        </RouterLink>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-circle btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 16 16">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow"></ul>
        </div>
      </div>
    </div>
  </header>
  <main class="mt-5">
    <RouterView />
  </main>
</template>
